/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body {
	padding: 123px 290px;
	width: 1440px;
	height: 1700px;
	background: #e8e8e8;
	font-family: Arial;
}

.text {
	margin: 118px 0 0 0;
}
.text>p {
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
}
.text>p:first-child {
	margin: 0 0 43px 0;
}

.text>p:first-child::first-line {
	color: #ff0000;
}
.text>p:last-child::first-letter {
	color: #ff0000;
	font-size: 25px;
}

.list {}
.list>li {
	padding: 0 0 0 35px;
	line-height: 36px;
	font-size: 20px;
	color: #273d46;
	background: url("../img/check_icon_1.png") 0 50%/25px auto no-repeat;
}
.list>li:first-child {
	text-decoration: line-through;
}
.list>li:nth-child(2) {
	font-weight: 700;
}
.list>li:nth-child(3) {
	font-style: italic;
}
.list>li:last-child {
	text-transform: uppercase;
}
.list>li:hover {
	/* text-transform: none;
	font-style: none;
	font-weight: none;
	text-decoration: none; */
	background: url("../img/check_icon_2.png") 0 50%/25px auto no-repeat;
	color: #d55a5a;
}

.button {}
.button>button {
	margin: 137px 0 0 25px;
	padding: 0 0 0 30px;
	width: 199px;
	height: 44px;
	text-transform: uppercase;
	text-align: left;
	color: #ffffff;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	letter-spacing: 0.2em;
	box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
	background: #80b7b3 url("../img/arrow.png") 151px 50%/21px 14px no-repeat;
	border-radius: 22px;
}
.button>button:hover {
	background: #3a5856 url("../img/arrow.png") 151px 50%/21px 14px no-repeat;
}
.button>button:active {
	background: #818181 url("../img/arrow.png") 151px 50%/21px 14px no-repeat;
}

.textform {}

.textform>input {
	color: #273d46;
	margin: 124px 0 0 0;
	padding: 0 0 0 10px;
	width: 294px;
	height: 52px;
	border: 1px solid #b0b0b0;
	font-size: 20px;
}
.textform>input:focus {
	box-shadow: 0px 0px 20px -1px rgba(127,190,213,0.93);
}
