@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

/* ======================== */
body {
  font-family: Lato;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}
.container_new-gen {
  width: 1103px;
  margin: 0 auto;
  padding: 0 10px;
}
.container_footer {
  max-width: 1145px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  z-index: 1;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  background: url("../img/logo.png") 50% 0/contain no-repeat;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__link a {
  position: relative;
  font-size: calc(11px + 2 * ((100vw - 320px) / 1280));
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
}
.header__link:nth-child(odd) {
  margin: 0 70px 0 0;
}
.header__link:nth-child(odd)::after {
  content: ".";
  position: absolute;
  padding: 0 0 0 30px;
}
.header__link:nth-child(2) {
  margin: 0 220px 0 0;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}
.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.new-gen {
  background: #f7f7f7;
}
.new-gen__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 117px 0 142px 0;
}
.new-gen__logo {
  width: 52px;
  height: 43px;
}
.new-gen__title {
  margin: 34px 0;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1280));
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}
.new-gen__text {
  text-align: center;
  max-width: 1113px;
  padding: 0 15px;
  font-size: calc(15px + 3 * ((100vw - 320px) / 1280));
  line-height: 34px;
  font-weight: 400;
  color: #848789;
}

.block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.block-1__left {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66%;
          flex: 0 0 66.66%;
}
.block-1__left-bg {
  width: 100%;
  height: 100%;
}
.block-1__left-logo {
  position: absolute;
  left: 44.7%;
  top: 40.166%;
  width: 113px;
  height: 118px;
  z-index: 10;
}
.block-1__left-logo img {
  max-width: 100%;
}
.block-1__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
}
.block-1__right-main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 68px 105px 68px;
}
.block-1__right-main::after {
  content: "";
  background: #ffffff;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  bottom: -7px;
  right: 48.31%;
}
.block-1__right-logo img {
  max-width: 41px;
}
.block-1__right-title {
  margin: 31px 0 26px 0;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1280));
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}
.block-1__right-text {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
  line-height: 30px;
  font-weight: 400;
  color: #848789;
}
.block-1__right-text::after {
  content: "";
  position: absolute;
  bottom: 9.94%;
  left: 45.4%;
  width: 50px;
  height: 1px;
  background: rgba(53, 55, 56, 0.2);
}
.block-1__right-img img {
  width: 100%;
}

.block-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block-2__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.block-2__left-main {
  position: relative;
  padding: 61px 68px 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-2__left-main::after {
  content: "";
  background: #ffffff;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  bottom: -7px;
  left: 48.31%;
}
.block-2__left-title {
  margin: 29px 0 26px;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1280));
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}
.block-2__left-text {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
  line-height: 29px;
  font-weight: 400;
  color: #848789;
}
.block-2__left-text::after {
  content: "";
  position: absolute;
  bottom: 9.94%;
  left: 45.4%;
  width: 50px;
  height: 1px;
  background: rgba(53, 55, 56, 0.2);
}
.block-2__left-img img {
  width: 100%;
}
.block-2__right {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66%;
          flex: 0 0 66.66%;
}
.block-2__right-bg {
  width: 100%;
  height: 100%;
}
.block-2__right-logo {
  position: absolute;
  right: 41.7%;
  top: 37.33%;
  width: 177px;
  height: 152px;
}
.block-2__right-logo img {
  max-width: 100%;
}

.footer {
  background: #f7f7f7;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 99px 0 103px;
}
.footer__left_text {
  font-size: calc(11px + 2.9 * ((100vw - 320px) / 1280));
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}
.footer__left_title {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
  line-height: 17px;
  font-weight: 700;
  color: #848789;
}
.footer__middle {
  margin: 0 -7.5px;
}
.footer__middle a {
  padding: 0 7.5px;
}
.footer__middle a img {
  max-width: 35px;
}
.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__text {
  font-size: 13.9px;
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}
.footer__logo {
  margin: 0 0 0 9px;
  width: 55px;
  height: 36px;
}
.footer__logo img {
  max-width: 100%;
}