@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Lato;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 100%;
}

.header__image img {
  width: 100%;
}

.navigation {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 35px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
}
.navigation__logo {
  margin: 0 63px;
}
.navigation__link {
  position: relative;
  color: inherit;
}
.navigation__dot {
  margin: 0 30px;
}

.container_newgeneration {
  max-width: 1085px;
  padding: 20px;
  margin: 0 auto;
}

.newgeneration {
  padding: 117px 0 142px;
  background: #f7f7f7;
}
.newgeneration__raw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.newgeneration__image {
  padding: 0 0 35px 0;
}
.newgeneration__image img {
  width: 52px;
}
.newgeneration__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  padding: 0 0 35px 0;
}
.newgeneration__body {
  text-align: center;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
}

.container_footer {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}

.footer {
  padding: 100px 0;
  background: #f7f7f7;
}
.footer__raw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__item {
  color: #848789;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}
.footer__item_1 {
  text-align: left;
}
.footer__item_1 p {
  line-height: 20px;
}
.footer__item_1 p:first-child {
  font-size: 16px;
  font-weight: 700;
}
.footer__item_1 p:last-child {
  font-size: 13.9px;
  font-weight: 400;
  font-style: italic;
}
.footer__item_2 {
  margin: 0 -7.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__item_2 img {
  padding: 0 7.5px;
}
.footer__item_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  position: relative;
  font-size: 13.9px;
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}
.footer__item_3 p {
  margin: 0 10px 0 0;
  padding: 0 0 2px 0;
}
.footer__item_3 img {
  display: inline-block;
  width: 35px;
}