@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// Файл обнуляющих стилей
@import "nullstyle.scss";
// ibg
@import "ibg.scss";
// =============================================
%vid {
	background: rgba(255, 0, 0, 0.2);
	border: 2px solid blue;
}

$maxWidth: 1600;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
// ==================================================
body {
	font-family: Lato;
}
// =====================================================
.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.container {
	max-width: 100%;
	margin: 0 auto;
	&_new-gen {
		width: 1103px;
		margin: 0 auto;
		padding: 0 10px;
	}
	&_footer {
		max-width: 1145px;
		padding: 0 15px;
		margin: 0 auto;
	}
}
// =====================================================
.header {
	position: absolute;
	top: 35px;
	left: 0;
	width: 100%;
	z-index: 1;
	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 85px;
		background: url("../img/logo.png") 50% 0 / contain no-repeat;
	}

	&__list {
		display: flex;

	}
	&__link {
		a {
			position: relative;
			@include adaptiv-font(13, 11);
			line-height: 1.2;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			color: #4d4959;
		}
		&:nth-child(odd) {
			margin: 0 70px 0 0;
			&::after {
				content: ".";
				position: absolute;
				padding: 0 0 0 30px;
			}
		}
		&:nth-child(2) {
			margin: 0 220px 0 0;
		}

	}

}

// ====================================================
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

.main-screen {
	flex: 1 0 100%;
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}

}

.content {

}

.new-gen {
	background: #f7f7f7;
	&__main {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 117px 0 142px 0;
	}

	&__logo {
		width: 52px;
		height: 43px;
	}

	&__title {
		margin: 34px 0;
		@include adaptiv-font(18, 12);
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #353738;
	}

	&__text {
		text-align: center;
		max-width: 1113px;
		padding: 0 15px;
		@include adaptiv-font(18, 15);
		line-height: 34px;
		font-weight: 400;
		color: #848789;
	}

}

// ========================================================
.block-1 {
	display: flex;
	position: relative;

	&__left {
		position: relative;
		// display: flex;
		// align-items: center;
		// justify-content: center;
		flex: 0 0 66.66%;
	}

	&__left-bg {
		width: 100%;
		height: 100%;
	}

	&__left-logo {
		position: absolute;
		left: 44.7%;
		top: 40.166%;
		width: 113px;
		height: 118px;
		z-index: 10;
		img {
			max-width: 100%;
		}
	}

	&__right {
		flex: 0 0 33.33%;
		display: flex;
		flex-direction: column;
		background: #ffffff;

	}

	&__right-main {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 70px 68px 105px 68px;
		&::after {
			content: "";
			background: #ffffff;
			width: 14px;
			height: 14px;
			transform: rotate(45deg);
			position: absolute;
			bottom: -7px;
			right: 48.31%;
		}
	}

	&__right-logo {
		img {
			max-width: 41px;
		}
	}

	&__right-title {
		margin: 31px 0 26px 0;
		@include adaptiv-font(18, 14);
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #353738;
	}

	&__right-text {
		@include adaptiv-font(16, 12);
		line-height: 30px;
		font-weight: 400;
		color: #848789;
		&::after {
			content: "";
			position: absolute;
			bottom: 9.94%;
			left: 45.40%;
			width: 50px;
			height: 1px;
			background: rgba(53,55,56,0.2);
		}
	}

	&__right-img {
		img {
			width: 100%;
		}
	}

}
// ========================================================
.block-2 {
	display: flex;
	&__left {
		flex: 0 0 33.33%;
		background: #ffffff;
		display: flex;
		flex-direction: column;
	}

	&__left-main {
		position: relative;
		padding: 61px 68px 114px;
		display: flex;
		flex-direction: column;
		align-items: center;
		&::after {
			content: "";
			background: #ffffff;
			width: 14px;
			height: 14px;
			transform: rotate(45deg);
			position: absolute;
			bottom: -7px;
			left: 48.31%;
		}
	}

	&__left-logo {

	}

	&__left-title {
		margin: 29px 0 26px;
		@include adaptiv-font(18, 14);
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #353738;
	}

	&__left-text {
		@include adaptiv-font(16, 12);
		line-height: 29px;
		font-weight: 400;
		color: #848789;
		&::after {
			content: "";
			position: absolute;
			bottom: 9.94%;
			left: 45.40%;
			width: 50px;
			height: 1px;
			background: rgba(53,55,56,0.2);
		}
	}

	&__left-img {
		img {
			width: 100%;
		}
	}

	&__right {
		position: relative;
		flex: 0 0 66.66%;
	}

	&__right-bg {
		width: 100%;
		height: 100%;
	}

	&__right-logo {
		position: absolute;
		right: 41.7%;
		top: 37.33%;
		width: 177px;
		height: 152px;
		img {
			max-width: 100%;
		}
	}
}
// ===================================================

// =====================================================
.footer {
	background: #f7f7f7;
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 99px 0 103px;
	}

	&__left {
		&_text {
			@include adaptiv-font(13.9, 11);
			line-height: 17px;
			font-weight: 400;
			font-style: italic;
			color: #848789;
		}
		&_title {
			@include adaptiv-font(16, 12);
			line-height: 17px;
			font-weight: 700;
			color: #848789;
		}
	}

	&__middle {
		margin: 0 -7.5px;
		a {
			padding: 0 7.5px;
			img {
				max-width: 35px;
			}
		}
	}

	&__right {
		display: flex;
		align-items: center;
	}

	&__text {
		font-size: 13.9px;
		line-height: 17px;
		font-weight: 400;
		font-style: italic;
		color: #848789;
	}

	&__logo {
		margin: 0 0 0 9px;
		width: 55px;
		height: 36px;
		img {
			max-width: 100%;
		}
	}

}
