@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Arial;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hello {
  background: #445162;
  padding: 50px 0;
}
.hello__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hello__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hello__title {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  margin: 0 0 40px 0;
}
.hello__list {
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  padding: 0 0 0 35px;
  margin: 0 15px 0 0;
}
.hello__list li {
  position: relative;
}
.hello__list li::before {
  content: "";
  display: inline-block;
  background: url("../img/hello/li.png") no-repeat;
  position: absolute;
  top: 7px;
  left: -35px;
  width: 25px;
  height: 19px;
}
.hello__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 469px;
          flex: 0 0 469px;
}
.hello__image img {
  max-width: 100%;
}

.about {
  padding: 50px 0;
  background: #ffffff;
}
.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 430px;
          flex: 0 0 430px;
}
.about__image img {
  max-width: 100%;
}
.about__text {
  margin: 0 0 0 40px;
}
.about__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  margin: 0 0 36px 0;
}
.about__body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}
.about__body p {
  margin: 0 0 30px 0;
}
.about__body p:last-child {
  margin: 0;
}

.columns {
  padding: 50px 0 20px;
  background: #f5f5f5;
}
.columns__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  text-align: center;
  margin: 0 0 30px 0;
}
.columns__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -7.5px;
}
.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 0 30px 0;
  padding: 0 7.5px;
}
.item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}
.item__image img {
  max-width: 100%;
}
.item__body {
  margin: 0 0 0 15px;
}
.item__title {
  margin: 0 0 15px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #445161;
}
.item__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.vertical {
  padding: 50px 0;
}
.vertical__title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  margin: 0 0 30px 0;
}
.vertical__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container__vertical {
  max-width: 990px;
  margin: 0 auto;
}

.card {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  background: #445162;
  border: 2px solid #445162;
}
.card__title {
  padding: 10px 0;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.card__subtitle {
  padding: 20px 0;
  background: #ffffff;
  text-align: center;
  font-size: 40px;
  line-height: 30px;
  font-weight: 400;
  color: #445162;
}
.card__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  padding: 20px;
}
.card__link {
  border-radius: 5px;
  margin: 0 20px 20px;
  padding: 15px 0;
  background: #ffffff;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
}

.footer {
  background: #f5f5f5;
}
.footer__text {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #445162;
  text-align: center;
  padding: 30px 0 20px;
}